@font-face {
    font-family: "Honey";
    src: url("assets/fonts/Honey Salt.otf") format("opentype");
}

@font-face {
    font-family: "Amor";
    src: url("assets/fonts/Amorlate.otf") format("opentype");
    src: url("assets/fonts/Amorlate.ttf") format("truetype");
}

@font-face {
    font-family: "Darling";
    src: url("assets/fonts/Darling Coffee.otf") format("opentype");
    src: url("assets/fonts/Darling Coffee.ttf") format("truetype");
}

@font-face {
    font-family: "Cherry";
    src: url("assets/fonts/Dacherry.otf") format("opentype");
    src: url("assets/fonts/Dacherry.ttf") format("truetype");
}

@font-face {
    font-family: "Digital";
    src: url("assets/fonts/digital-7.ttf") format("truetype");
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.8s ease;
    backdrop-filter: blur(5px);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

#main-content {
    opacity: 0;
    transition: opacity 0.8s ease;
  }

body.loaded #preloader {
    opacity: 0;
    pointer-events: none;
}

body.loaded #main-content {
    opacity: 1;
}

body.no-scroll {
    overflow: hidden;
}

body {
    /* background-color: #FAD9DD; */
    margin: 5px;
    background: #90b7ec;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('assets/img/Banner-Selena.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* backdrop-filter: blur(20px); */
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;     
    min-height: 100vh;
}

main {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

main.load {
    opacity: 1;
    transform: translateY(0);
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
    backdrop-filter: blur(10px);
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    display: flex;
}

#menu.active {
    pointer-events: auto;
    opacity: 1;
}

.column-content { 
    display: flex;
    gap: 20px;
}

a {
    -webkit-tap-highlight-color: transparent;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

button:focus {
    outline: none;
}

@media screen and (max-width: 500px) {
    aside {
        display: none;
    }
}

.text-stroke {
    text-shadow:
        1px 1px 0 black,
       -1px 1px 0 black,
        1px -1px 0 black,
       -1px -1px 0 black,
        0   1px 0 black,
        0  -1px 0 black,
        1px  0  0 black,
       -1px  0  0 black;
    filter: drop-shadow(2px 2px 1px #000000);
}

.text-stroke-menu {
    text-shadow:
        1px 1px 0 black,
       -1px 1px 0 black,
        1px -1px 0 black,
       -1px -1px 0 black,
        0   1px 0 black,
        0  -1px 0 black,
        1px  0  0 black,
       -1px  0  0 black;
}

.no-select {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}


/*container box*/
.container-loading {
    border-radius: 15px;
    max-width: 650px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.blur-group {
    /* background: linear-gradient(360deg, rgb(250, 217, 221, 0.3), rgb(41, 33, 64, 0.2)); */
    max-width: 700px;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    /* background: rgb(255, 255, 255); */
    box-shadow: 0px 0px 20px rgb(51, 51, 51);
    border: 1px solid #ffffff;
}

.container {
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    /* background: linear-gradient(360deg, #494E74, #292140);;
    border: 1px solid #ffffff; */
    background: #90b7ec;
    box-shadow: 0px 0px 5px #707070;
    border: 1px solid #ffffff;
    /* background: #00000025; */
}

.container-menu {
    border-radius: 15px;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
}

.navbar {
    border-radius: 20px;
    padding: 20px;
}

.container-first {
    border-radius: 15px;
    max-width: 650px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 15px;
    text-align: left;
    /* background: linear-gradient(360deg, rgb(250, 217, 221, 0.5), rgb(41, 33, 64, 0.3));
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 5px #505050; */
}

.container-main {
    border-radius: 15px;
    max-width: 650px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 15px;
    text-align: left;
    border-top: 1px solid #ffffff;
    /* background: linear-gradient(360deg, rgb(250, 217, 221, 0.5), rgb(41, 33, 64, 0.3));
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 5px #505050; */
}

@media (max-width: 500px) {
    .container-main {
        text-align: center;
    }
}

.container-second {
    border-radius: 15px;
    max-width: 650px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #ffffff;
    /* background: linear-gradient(360deg, rgb(250, 217, 221, 0.5), rgb(41, 33, 64, 0.3));
    box-shadow: 0px 0px 5px #505050;
    backdrop-filter: blur(5px); */
}

.container-end {
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
    border-top: 1px solid #ffffff;
    background: #0b112e;
    box-shadow: 0px 0px 5px #707070;
    border: 1px solid #ffffff;
    /* background: #0f1746;
    box-shadow: 0px 0px 5px #707070;
    border: 1px solid #ffffff; */
    /* background: #00000025; */
    /* background: linear-gradient(360deg, #494E74, #0C102B);;
    box-shadow: 0px 0px 5px #505050; */
    /* border: 1px solid #ffffff; */
}


/* Flex */
.container-flex {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 10px;
}

.container-flex .font-head {
    text-align: center;
    border-radius: 15px;
    /* background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    border: 1px solid #292140; */
    font-family: cherry;
    font-size: 15px;
    padding: 2px;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
} 

.container-flex .font-navbar {
    text-align: center;
    font-family: amor;
    padding: 2px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
} 

@media (max-width: 500px) {
    .container-flex .font-head {
        font-size: 13px;
    } 
}

.container-flex .font-name {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: cherry;
}

@media (max-width: 500px) {
    .container-flex .font-name {
        text-align: center;
        font-size: 18px;
    }
}

.container-flex .font-main {
    text-align: left;
    border-radius: 20px;
    padding: 15px;
    /* background: rgba(76, 76, 76, 0.3);
    box-shadow: 0px 0px 5px #707070;
    border: 1px solid #ffffff; */
    /* border-bottom: 1px solid #000000; */
    /* background: #ffffff;
    box-shadow: 0px 0px 5px #707070; */
    border-bottom: 1px solid #ffffff;
    font-family: honey;
    font-size: 15px;
    color: #ffffff;
    /* backdrop-filter: blur(50px); */
}

.container-flex .font-mess {
    text-align: left;
    border-radius: 25px;
    padding: 15px;
    /* background: rgba(76, 76, 76, 0.3);
    box-shadow: 0px 0px 5px #707070;
    border: 1px solid #ffffff; */
    background: #ffffff;
    /* border-bottom: 1px solid #000000; */
    box-shadow: 0px 0px 5px #707070;
    border: 1px solid #ffffff;
    font-family: honey;
    font-size: 15px;
    color: #000000;
    /* backdrop-filter: blur(50px); */
}

@media (max-width: 500px) {
    .container-first {
        padding: 0;
    }
    
    .container-flex .font-main {
        text-align: center;
        font-size: 14px;
        margin: 5px 0 10px 0;
        padding: 10px;
        background: none;
        box-shadow: none;
        border-bottom: 1px solid #ffffff;
    }

    .left {
        text-align: left; 
        margin-left: 10px;
    }

    .container-flex .font-mess {
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
        padding: 10px;
    }
}

.container-flex .font-about {
    text-align: left;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: honey;
    font-size: 15px;
}

@media (max-width: 500px) {
    .container-flex .font-about {
        font-size: 13px;
    }
}

.container-flex .button-flex {
    display: flex;
    flex-wrap: wrap;
}

.container-flex .font-social {
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    /* padding: 10px; */
    margin: 3px 15px 3px 3px;
    /* background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    border: 1px solid #292140; */
    font-family: Darling;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
    /* border-left: 1px solid #ffffff; */
}

@media (max-width: 500px) {
    .container-flex .font-social {
        font-size: 25px;
    }
}

.container-flex .font-music {
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 0px;
    margin-bottom: 6px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: Darling;
    font-size: 18px;
}

.container-flex .font-date {
    text-align: justify;
    flex: 1;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 15px;
    padding: 2px;
    /* background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    border: 1px solid black; */
    font-family: Cherry;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
}

@media (max-width: 500px) {
    .container-flex .font-date {
        font-size: 13px;
    } 
}

/*column bersebelahan*/
.side-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    border-radius: 25px;
    background-color: #d6d6d6;
    background-image: url('https://avatars.githubusercontent.com/u/122570288');
    border: 1px solid #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 10px #707070;
    transition: box-shadow 0.3s ease-in-out;
}

.side-container:hover {
    box-shadow: 0px 0px 15px #ffffff;
}

.side-group {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    border-radius: 30px;
}

@media (min-width:500px) {
    .side-banner {
        align-items: center;
        display: flex;
        flex: 1;
        border-radius: 20px;
        border: 1px solid white;
        background-color: #d6d6d6;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('assets/img/Selena4.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0px 0px 10px #707070;
        transition: box-shadow 0.3s ease-in-out;
        padding: 10px;
        cursor: default;
    }

    .container-flex .font-end {
        margin-left: 15px;
        text-align: justify;
        flex: 1;
        text-align: left;
        justify-content: center;
        border-radius: 15px;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px rgb(0, 72, 131);
        font-family: honey;
        font-size: 16px;
    }

    .center-image {
        justify-items: left;
    }

    .side-banner:hover {
        box-shadow: 0px 0px 15px #ffffff;
    }
}

@media (max-width:500px) {
    .side-banner {
        justify-content: center;
        text-align: center;
        border-radius: 20px;
        border: 1px solid white;
        background-color: #d6d6d6;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('assets/img/Selena4.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0px 0px 10px #707070;
        padding: 10px;
    }

    .container-flex .font-end {
        text-align: justify;
        text-align: center;
        justify-content: center;
        border-radius: 15px;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px #494E74;
        font-family: honey;
        font-size: 14px;
    }

    .center-image {
        align-items: center;
    }
}

.banner {
    text-align: left;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(assets/img/Selena3.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    text-decoration: none;
    box-shadow: 0px 0px 5px #707070;
    margin-bottom: 35px;
    min-height: 110px;
}

.header {
    display: flex;
    margin-left: 5px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-family: Amor;
    text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 500px) {
    .header {
        font-size: 13px;
    }
}

#header {
    margin-right: auto;
}

.icon-header {
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0px 0px 3px #222222;
    width: 50px;
    margin-right: 5px;
}

@media (max-width: 500px) {
    .icon-header {
        width: 45px;
    }
}

/*box gambar*/
.image-home {
    border-radius: 15px;
    justify-content: center;
    box-shadow: 0px 0px 10px #707070;
    width: 40%;
    margin-bottom: 15px;
}

.image-about {
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0px 0px 3px #222222;
    border: 1px solid #ffffff;
    width: 30%;
    margin: 5px;
    transform: translateY(40%);
}

.image-gallery {
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0px 0px 10px #707070;
    width: 70%;
    margin-bottom: 15px;
}

.image-gif {
    border-radius: 20px;
    width: 220px;
}

@media (max-width: 500px) {
    .image-gif {
        border-radius: 20px;
        width: 150px;
    }
}

.firefly {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-fireflyLeft {
    display: grid;
    justify-content: center;
    width: 27%;
    align-items: center;
    padding: 10px;
}

@media (max-width:316px) {
    .container-fireflyLeft {
        display: flex;
    }
}

.container-fireflyRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 15px;
    border-radius: 20px;
    border: 1px solid white;
    background-image: url('assets/img/blue/2.jpg');
    background-position: center;
    background-size: cover;
}

@media (max-width:316px) {
    .container-fireflyRight {
        width: 100%;
    }
}

@media (min-width: 500px) {
    .container-fireflyRight {
        transition: box-shadow 0.3s ease-in-out;
    }

    .container-fireflyRight:hover {
        box-shadow: 0px 0px 10px #ffffff;
    }
}

.images-fireflyLeft {
    margin: 5px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid white;
    box-shadow: 0px 0px 2px #707070;
}

@media (min-width: 500px) {
    .images-fireflyLeft {
        transition: box-shadow 0.3s ease-in-out;
    }

    .images-fireflyLeft:hover {
        box-shadow: 0px 0px 10px #ffffff;
    }
}

.images-fireflyRight {
    margin: 5px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid white;
    box-shadow: 0px 0px 2px #707070;
}

/*tombol*/
.button-nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #292140;
    margin: 3px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: honey;
    text-decoration: none;
    color: #000000;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.button-nav:hover {
    transform: scale(1.05);
}

.button-nav:active {
    transform: scale(0.98);
}

.side-button {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    border-radius: 30px;
}

.button {
    display: inline-flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    margin: 3px 3px 3px 15px;
    border: 1px solid #292140;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: honey;
    text-decoration: none;
    color: #000000;
    /* background: rgba(0, 0, 0, 0.2); */
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    /* text-shadow: 2px 2px 4px rgb(0, 0, 0); */
}

@media (max-width: 500px) {
    .button {
        font-size: 14px;
    }
}

.button-send {
    display: inline-flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0px 0px 5px #707070;
    font-family: honey;
    text-decoration: none;
    color: #000000;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.button .icon {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    order: -1;
    /* filter: drop-shadow(2px 2px 4px rgb(0, 0, 0)); */
}

@media (max-width: 500px) {
    .button .icon {
        width: 17px;
        height: 17px;
        margin-right: 7px;
        order: -1;
    }
}

.button:hover {
    transform: scale(1.03);
}

.button:active {
    transform: scale(0.98);
}

.button-send:hover {
    transform: scale(1.02);
}

.button-send:active {
    transform: scale(0.98);
}

.button-li {
    flex: 1;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    margin: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    /* box-shadow: 0px 0px 5px #707070; */
    /* border: 1px solid #292140; */
    font-family: Darling;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.button-li:hover {
    transform: scale(1.04);
}

.button-li:active {
    transform: scale(0.98);
}

.font-gallery {
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 17px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: Darling;
    font-size: 24px;
    text-decoration: none;
    color: #000000;
}

.font-gallery:hover {
    background: #e6e6e6;
    transition: 0.2s ease-in-out;
}

.button-about {
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background: #ffffff;
    box-shadow: 0px 0px 2px #707070;
    border: 1px solid #000000;
    font-family: honey;
    text-decoration: none;
    color: #000000;
    transition: background 0.5s ease-in-out;
}

.button-about:hover {
    background: #e6e6e6;
}

#over {
    position: relative;
    display: inline-block;
}

@media (min-width: 500px) {
    .more {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 500px) {
    .more {
        /* transform: translateY(100%); */
        margin: 5px;
        text-align: right;
    }
}

@media (min-width: 540px) { 
    .button-music {
        justify-content: left;
        text-align: left;
        align-items: self-end;
        display: flex;
        flex: 1;
        padding: 5px;
        border-radius: 15px;
        border: 1px solid white;
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(assets/img/BackNumber2.jpg); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 5px #707070;
        min-height: 180px;
        font-family: honey;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        transition: scale 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .button-music .text {
        text-align: left;
        align-self: left;
        font-family: honey;
        font-size: 13px;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }

    .image-album {
        margin: 12px;
        padding: 2px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #707070;
        width: 90px;
        height: 90px;
    }

    .button-music:hover {
        scale: 1.02;
        box-shadow: 0px 0px 15px #ffffff;
    }
}

@media (max-width: 540px) { 
    .button-music {
        text-align: center;
        align-content: center;
        flex: 2;
        padding: 5px;
        border-radius: 15px;
        border: 1px solid white;
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(assets/img/BackNumber2.jpg); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 5px #707070;
        min-height: 150px;
        font-family: honey;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
    }

    .button-music .text {
        text-align: center;
        font-family: honey;
        font-size: 11px;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }

    .image-album {
        margin-top: 15px;
        padding: 2px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #707070;
        width: 70px;
        height: 70px;
    }
}

/*about*/
.about {
    color: #ffffff;
    text-align: center;
    font-family: amor;
    font-size: 20px;
    /* text-shadow: 2px 2px 4px #01244e; */
}

.about .font {
    font-family: honey;
    font-size: 16px;
    color: #ffffff;
    /* text-shadow: 2px 2px 3px #000000; */
}

@media (max-width: 500px) {
    .about {
        font-size: 17px;
    }
    .about .font {
        font-size: 13px;
    }
}

.link {
    text-decoration: none;
    color: #bebeff;
}

.link:hover {
    color: #b392ff;
}