@font-face {
    font-family: "Honey";
    src: url("assets/fonts/Honey Salt.otf") format("opentype");
}

@font-face {
    font-family: "Amor";
    src: url("assets/fonts/Amorlate.otf") format("opentype");
    src: url("assets/fonts/Amorlate.ttf") format("truetype");
}

@font-face {
    font-family: "Darling";
    src: url("assets/fonts/Darling Coffee.otf") format("opentype");
    src: url("assets/fonts/Darling Coffee.ttf") format("truetype");
}

@font-face {
    font-family: "Cherry";
    src: url("assets/fonts/Dacherry.otf") format("opentype");
    src: url("assets/fonts/Dacherry.ttf") format("truetype");
}

@font-face {
    font-family: "Digital";
    src: url("assets/fonts/digital-7.ttf") format("truetype");
}

/*bg*/
body {
    margin: 0;
    background-color: #0e0d42;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/img/Video.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    backdrop-filter: blur(5px);
}

@media screen and (max-width: 500px) {
    body {
        background-color: #0e0d42;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/img/Firefly2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        backdrop-filter: blur(20px); 
    }
}

main {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

main.load {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 500px) {
    aside {
        display: none;
    }
}

.padding-blur {
    padding: 15px;
}

/*set column*/
.column-content { 
    display: flex;
    gap: 20px;
}

.container-flex {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 10px;
}

.container-flex .font-head {
    text-align: center;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: Cherry;
}

.container-flex .font-name {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: cherry;
}

@media (max-width: 500px) {
    .container-flex .font-name {
        text-align: center;
        font-size: 18px;
    }
}

.container-flex .font-main {
    text-align: left;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: honey;
    font-size: 18px;
}

@media (max-width: 575px) {
        .container-flex .font-main {
            font-size: 16px;
    }
}

@media (max-width: 500px) {
    .container-flex .font-main {
        text-align: center;
        font-size: 18px;
    }
}

.container-flex .font-about {
    text-align: left;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: honey;
    font-size: 17px;
}

@media (max-width: 500px) {
    .container-flex .font-about {
        font-size: 15px;
    }
}

.container-flex .button-flex {
    display: flex;
    flex-wrap: wrap;
}

.container-flex .font-social {
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 17px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: Darling;
    font-size: 22px;
    text-decoration: none;
    color: #000000;
}

.container-flex .font-music {
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 0px;
    margin-bottom: 6px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: Darling;
    font-size: 18px;
}

.container-flex .font-clock {
    text-align: justify;
    flex: 1;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 11px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: Digital;
    font-size: 18px;
}

/*column bersebelahan*/
.side-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    border-radius: 30px;
    background-color: #d6d6d6;
    background-image: url('https://avatars.githubusercontent.com/u/122570288');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 10px #707070;
}

.side-group {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    border-radius: 30px;
}

/*container box*/
.container {
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    background: linear-gradient(360deg, #0c6d70, rgba(195, 243, 255, 0.5));;
    /* box-shadow: -5px 5px 0px #000000; */
    border: 4px solid #119397;
    box-shadow: 0px 0px 10px #000000;
    backdrop-filter: blur(5px);
}

/* .container-intro {
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom: 5px;
    background: #2c2c2c;
    box-shadow: -5px 5px 0px #000000;
    color: #f5f5f5;
    text-align: center;
    font-family: honey;
    font-size: 18px;
} */

.container-main {
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    /* box-shadow: -5px 5px 0px #000000; */
    text-align: left;
    background-color: #f5f5f5;
    border: 4px solid #d4c4b7;
    border-bottom: 12px solid #a7ebea;
    box-shadow: 0px 0px 10px #000000;
}

@media (max-width: 500px) {
    .container-main {
        text-align: center;
    }
}

.container-back {
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    /* box-shadow: -5px 5px 0px #000000; */
}

.container-gif {
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    /* box-shadow: -5px 5px 0px #000000; */
    background-color: #f5f5f5;
    border: 3px solid #d4c4b7;
    border-bottom: 10px solid #a7ebea;
    box-shadow: 0px 0px 10px #000000;
}

.container-end {
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #2c2c2c;
    /* box-shadow: -5px 5px 0px #000000; */
    border: 4px solid rgb(99, 99, 99);
    box-shadow: 0px 0px 10px #000000;
}

/*box gambar*/
.image-home {
    border-radius: 15px;
    justify-content: center;
    box-shadow: 0px 0px 10px #707070;
    width: 40%;
    margin-bottom: 15px;
}

.image-about {
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0px 0px 5px #222222;
    width: 30%;
    margin: 5px;
    transform: translateY(35px);
}

.image-gallery {
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0px 0px 10px #707070;
    width: 70%;
    margin-bottom: 15px;
}

.image-gif {
    border-radius: 20px;
    box-shadow: 0px 0px 10px #707070;
    width: 100%;
}

.banner {
    text-align: left;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(assets/img/Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    box-shadow: 0px 0px 5px #707070;
    margin-bottom: 35px;
}

/*header*/
.header {
    color: #ffffff;
    justify-self: center;
    font-family: amor;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    position: relative;
}

.header::before {
    content: '';
    background: #f5f5f5;
    border-radius: 20px;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
}

/*list*/
.ul-navbar {
    display: flex;
    justify-content: center;
    padding: 0;
    font-family: Honey;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    list-style-type: none;
}

.ul-navbar .li {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

/*about*/
.about {
    color: #ffffff;
    text-align: center;
    font-family: amor;
    font-size: 18px;
}

.about .font {
    font-family: honey;
    font-size: 14px;
}

@media (max-width: 380px) {
    .about .font {
        font-family: honey;
        font-size: 12px;
    }
}

/*tombol*/
.button {
    display: inline-flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: honey;
    text-decoration: none;
    color: #000000;
}

.button .icon {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    order: -1;
}

.button:hover {
    background: #e6e6e6;
    transition: 0.2s ease-in-out;
}

.button-li {
    flex: 1;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0px 0px 5px #707070;
    font-family: Darling;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
}

.side-button {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    border-radius: 30px;
}

.button-li:hover {
    background: #e6e6e6;
    transition: 0.2s ease-in-out;
}

@media (max-width: 655px) { 
    .button-music {
        justify-content: center;
        text-align: center;
        border-radius: 15px;
        padding-top: 10px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/img/BackNumber.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-decoration: none;
        box-shadow: 0px 0px 5px #707070;
    }

    .button-music .text {
        text-align: center;
        font-family: honey;
        font-size: 20px;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }

    .image-album {
        margin-top: 12px;
        padding: 2px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #707070;
        max-width: 30%;
    }
}

@media (min-width: 655px) { 
    .button-music {
        justify-content: center;
        text-align: center;
        display: flex;
        flex: 1;
        padding: 5px;
        border-radius: 15px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/img/BackNumber.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 5px #707070;
        font-family: honey;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
    }

    .button-music .text {
        text-align: left;
        align-self: center;
        font-family: honey;
        font-size: 20px;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }

    .image-album {
        margin: 12px;
        padding: 2px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #707070;
        width: 20%;
    }
}

.button-music:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img/BackNumber.jpg);
    transition: 3s ease-in-out;
}
