@font-face {
    font-family: "Honey";
    src: url("/assets/fonts/Honey Salt.otf") format("opentype");
}

@font-face {
    font-family: "Amor";
    src: url("/assets/fonts/Amorlate.otf") format("opentype");
    src: url("/assets/fonts/Amorlate.ttf") format("truetype");
}

@font-face {
    font-family: "Darling";
    src: url("/assets/fonts/Darling Coffee.otf") format("opentype");
    src: url("/assets/fonts/Darling Coffee.ttf") format("truetype");
}

@font-face {
    font-family: "Cherry";
    src: url("/assets/fonts/Dacherry.otf") format("opentype");
    src: url("/assets/fonts/Dacherry.ttf") format("truetype");
}

@font-face {
    font-family: "Digital";
    src: url("/assets/fonts/digital-7.ttf") format("truetype");
}

body {
    background-color: #24003b;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/img/Fireflybg3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

.container {
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom: 15px;
    background: #799bb6;
    box-shadow: 0px 0px 5px #000000;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.container-main {
    display: flex;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    justify-content: center;
    /* border: 3px solid #d4c4b7; */
    /* box-shadow: 0px 0px 10px #000000; */
}

.column-content { 
    display: flex;
    gap: 20px;
}

@media (min-width:695px) {
    .side-banner {
        align-items: center;
        max-width: 1000px;
        margin-left: 6px;
        margin-right: 6px;
        display: flex;
        flex: 1;
        border-radius: 20px;
        box-shadow: 0px 0px 10px #707070;
        backdrop-filter: blur(5px);
        padding: 15px;
    }

    .container-flex .font-end {
        margin-left: 15px;
        text-align: justify;
        flex: 1;
        text-align: left;
        justify-content: center;
        border-radius: 15px;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px rgb(0, 72, 131);
        font-family: honey;
        font-size: 16px;
    }

    .center-image {
        justify-items: left;
    }

    .images {
        width: 400px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
    }
}

@media (max-width:695px) {
    .side-banner {
        justify-content: center;
        margin-left: 6px;
        margin-right: 6px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0px 0px 10px #707070;
        backdrop-filter: blur(5px);
        padding: 10px;
    }

    .container-flex .font-end {
        text-align: center;
        justify-content: center;
        border-radius: 15px;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px rgb(0, 72, 131);
        font-family: honey;
        font-size: 14px;
    }

    .center-image {
        align-items: center;
    }

    .images {
        width: 300px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
    }
}

.container-images {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 5px;
    justify-content: center;
    /* border: 2px solid #d4c4b7; */
    /* box-shadow: 0px 0px 10px #000000; */
}

@media (min-width:480px) {
    .container-images {
        display: flex;
        flex-wrap: wrap;
    }
}

.container-images2 {
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 5px;
    align-items: center;
    /* border: 2px solid #d4c4b7; */
    /* box-shadow: 0px 0px 10px #000000; */
}

.container-blur {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 15px;
    /* backdrop-filter: blur(5px); */
    justify-content: center;
    /* box-shadow: 0px 0px 10px #707070; */
}

.images-cos {
    width: 300px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px #535353;
    margin: 5px;
}

@media (min-width:695px) {
    .images-cos {
        width: 500px;
        margin: 10px;
    }
}

@media (min-width:695px) {
    .button-li {
        height: 300px;
        width: 300px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin: 6px;
        background: #ffffff;
        box-shadow: 0px 0px 5px #707070;
        font-family: Darling;
        font-size: 15px;
        text-decoration: none;
        color: #000000;
        border: 2px solid #000000;
    }

    .button-li .images {
        height: 200px;
        width: 200px;
        border: 1px solid #000000;
        border-radius: 10px;
        margin-top: 20px;
    }
}

@media (max-width:695px) {
    .button-li {
        height: 200px;
        width: 200px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin: 6px;
        background: #ffffff;
        box-shadow: 0px 0px 5px #707070;
        font-family: Darling;
        font-size: 15px;
        text-decoration: none;
        color: #000000;
        border: 2px solid #000000;
    }

    .button-li .images {
        height: 100px;
        width: 100px;
        border: 1px solid #000000;
        border-radius: 10px;
        margin-top: 20px;
    }
}

@media (max-width:480px) {
    .button-li {
        display: flex;
        height: 100px;
        width: 400px;
        text-align: center;
        justify-content: left;
        align-items: center;
        border-radius: 15px;
        margin: 6px;
        background: #ffffff;
        box-shadow: 0px 0px 5px #707070;
        font-family: Darling;
        font-size: 13px;
        text-decoration: none;
        color: #000000;
        border: 2px solid #000000;
    }

    .button-li .images {
        height: 80px;
        width: 80px;
        border: 1px solid #000000;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
    }
}

.list {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-family: Amor;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@media (max-width: 515px) {
    .list {
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}

.list .li {
    padding: 8px;
    text-decoration: none;
    color: white;
    font-family: honey;
}

@media (min-width: 516px) {
    #header {
        margin-right: auto;
    }
}

@media (max-width: 515px) {
    #header {
        padding-left: 50px;
    }
}

#header {
    justify-content: center;
    padding-right: 50px;
}

.container-head {
    padding-bottom: 1px;
    padding-top: 1px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #000000;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Digital;
}

.image {
    width: 80px;
}

.container-main {
    min-height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.wrapper-container {
    display: flex;
    justify-content: center;
}

.group {
    max-width: 1000px;
}

.wrapper {
    display: flex;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.linux {
    width: calc(100% / 7);
    object-fit: cover;
    flex-grow: 1;
    box-shadow: 0px 0px 5px #707070;
    justify-content: center;
    margin: 5px;
}

.preview-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.preview {
    width: 100%;
    align-content: center;
    box-shadow: 0px 0px 5px #707070;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: column;
    justify-content: center;
}

.gallery0 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px;
    flex-grow: 1;
    box-shadow: 0px 0px 5px #707070;
    border: 2px solid black;
}

.gallery1 {
    width: 200px;
    object-fit: cover;
    margin: 5px;
    flex-grow: 1;
    box-shadow: 0px 0px 5px #707070;
    border: 2px solid black;
}

.container-end {
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10px;
    background: #2c2c2c;
    box-shadow: 0px 0px 5px #000000;
    border: 1px solid white;
    border-radius: 10px;
}

.about {
    color: #ffffff;
    text-align: center;
    font-family: amor;
    font-size: 18px;
}

.about .font {
    font-family: honey;
    font-size: 14px;
}

.link {
    text-decoration: none;
    color: #90d9ea;
}

.link:hover {
    color: #d4f1ff;
}

.button-gallery {
    height: 300px;
    width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 6px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #707070;
    font-family: Darling;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    border: 2px solid #000000;
}

.images-gallery {
    height: 200px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 20px;
}

.button-desk {
    display: flex;
    background: #ffffff;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
}

.images-desk {
    width: 30px;
}

.margin {
    margin-bottom: 100%;
}