@font-face {
    font-family: "Honey";
    src: url("/assets/fonts/Honey Salt.otf") format("opentype");
}

@font-face {
    font-family: "Amor";
    src: url("/assets/fonts/Amorlate.otf") format("opentype");
    src: url("/assets/fonts/Amorlate.ttf") format("truetype");
}

@font-face {
    font-family: "Darling";
    src: url("/assets/fonts/Darling Coffee.otf") format("opentype");
    src: url("/assets/fonts/Darling Coffee.ttf") format("truetype");
}

@font-face {
    font-family: "Cherry";
    src: url("/assets/fonts/Dacherry.otf") format("opentype");
    src: url("/assets/fonts/Dacherry.ttf") format("truetype");
}

@font-face {
    font-family: "Digital";
    src: url("/assets/fonts/digital-7.ttf") format("truetype");
}

body {
    background-color: #24003b;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/img/purple.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

.container {
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom: 20px;
    background: #500c70;
    box-shadow: 0px 0px 5px #000000;
    border: 1px solid rgb(255, 255, 255);
}

.list {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-family: Amor;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@media (max-width: 515px) {
    .list {
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}

.list .li {
    padding: 8px;
    text-decoration: none;
    color: white;
    font-family: honey;
}

@media (min-width: 516px) {
    #header {
        margin-right: auto;
    }
}

@media (max-width: 515px) {
    #header {
        padding-left: 50px;
    }
}

#header {
    justify-content: center;
    padding-right: 50px;
}

.container-head {
    padding-bottom: 1px;
    padding-top: 1px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 5px #000000;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Digital;
}

.image {
    width: 80px;
}

.container-main {
    min-height: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.wrapper-container {
    display: flex;
    justify-items: flex-start;
}

.group {
    max-width: 1000px;
}

.wrapper {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.wrapper-cos {
    display: flex;
    justify-items: flex-start;
    width: 100%;
    cursor: pointer;
}

.linux {
    width: 20%;
    object-fit: cover;
    flex-grow: 1;
    box-shadow: 0px 0px 5px #707070;
    justify-content: center;
    margin: 5px;
}

.preview-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.preview {
    width: 100%;
    align-content: center;
    box-shadow: 0px 0px 5px #707070;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: column;
    justify-content: center;
}

.gallery0 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px;
    flex-grow: 1;
    box-shadow: 0px 0px 5px #707070;
    border: 2px solid black;
}

.gallery1 {
    width: 200px;
    object-fit: cover;
    margin: 5px;
    flex-grow: 1;
    box-shadow: 0px 0px 5px #707070;
    border: 2px solid black;
}

.container-end {
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10px;
    background: #2c2c2c;
    box-shadow: 0px 0px 5px #000000;
    border: 1px solid white;
}

.about {
    color: #ffffff;
    text-align: center;
    font-family: amor;
    font-size: 18px;
}

.about .font {
    font-family: honey;
    font-size: 14px;
}